footer {
    position: absolute;
    width: 100%;
    height: 60px; /* Height of the footer */
    background-color: #86C232; /* Background color of the footer */
}
.navbar.navbar-light.bg-light {
    background-color: #86C232 !important;
    border-bottom: 1px solid #61892F;
}
.navbar.navbar-light .navbar-nav .nav-link {
    color: #222629 !important;
}

.nav-link.active {
    border: 1px solid #61892F !important;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar-brand {
    font: 400 1.5em/1.5em 'Shrikhand', sans-serif !important;
}

.mainbody {
    background-color: #222629;
}

.container0{
    background-color: #86C232 !important;
    border-radius: 5px !important;
    padding: 10px;
    margin: 10px 0;
}
.container1 {
    background-color: #86C232 !important;
    border-radius: 5px !important;
    padding: 10px;
    margin: 10px 0;
}

.container2 {
    background-color: #474B4F !important;
    color: #86C232 !important;
    border-radius: 5px !important;
    padding: 10px;
    margin: 10px 0;
}
 
#backToTopBtn {
    display: none; /* Hide the button by default */
    position: absolute; /* Position the button within the footer */
    bottom: 50%; /* Position the button at the vertical center */
    left: 50%; /* Position the button at the horizontal center */
    transform: translate(-50%, 50%); /* Center the button */
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent; /* Remove the background color */
    color: #474B4F;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
  #backToTopBtn:hover {
    background-color: transparent; /* Remove the background color on hover */
    color: #ccc; /* Change text color on hover */
  }

  .slideshow-container {
    position: relative;
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the slideshow horizontally */
  }
  
  .slideshow-item img {
    width: 100%; /* Make the images responsive */
    height: auto;
    display: block; /* Ensure the images are centered */
    margin: 0 auto; /* Center the images horizontally */
    max-width: 100%; /* Ensure images don't exceed the container width */
  }
  
  
  .slideshow-item img {
    width: 100%;
    height: auto;
  }
  
  