<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="mainbody">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="http://127.0.0.1:3000/public/photos/diabeazy.png" alt="Logo" class="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tips.html">Tips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://diabeazy.uk.r.appspot.com/auth/dexcom/callback">Data Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="story.html">My Story</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-5">
      <div class="container3">
        <div class="row">
            <div class="col-lg-12 main-header">
                <h1>What can Diabeazy offer you?</h1>
                <ul>
                  <li>
                    Average Blood Sugar Tracking
                  </li>
                  <li>
                    Suggestions or compliments!
                  </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4 container4">
                <p>Inspirational / Suggestion</p>
                <% if (average < 80) { %>
                  <p class="message">Try using less insulin. It can be dangerous to be this low.
                    Or try eating slightly more. Either way, work on getting your
                    blood sugar up!  
                  </p>
                <% } else if (average >= 80 && average <= 180) { %>
                  <p class="message">Awesome! Be proud! Now keep in mind what worked best to
                    get your blood sugar in this range. Keep that up and you'll be living much
                    healthier!
                  </p>
                <% } else { %>
                  <p class="message">There are a few things to try. Eat less, use a bit more insulin
                    , or become more active. As for the insulin, either up your basal rates, or
                    up your boluses when you eat. Good luck!
                  </p>
                <% } %>
            </div>
            <div class="col-lg-4 container1">
                <canvas id="myChart" width="200" height="200"></canvas>
            </div>
            <div class="col-lg-4 container4">
                <p>Blood sugar average over last 24 hours</p>
                <!-- Assuming you have a div with id="averageDisplay" where you want to display the average -->
                <div id="averageDisplay" class="average">
                  Average: <%= average %>
                </div>
            </div>
        </div>
        <div class="container3">
        <div class="row">
          <div class="col-lg-12 main-header">
            <h1>Basic goals / facts</h1>
            <ul>
              <p>
                Here are some basic goals or things you should aim for when trying to get control
                over your blood sugar. 
              </p>
              <li>
                The best A1C range is within 6-7. That is what I have always aimed for
                my life. Being in the 5's is what non diabetic A1C's would look like, so if you
                can hit that fantastic!
              </li>
              <li>
                The actual blood sugar range should be between 80-120. Now to speak realistically, 
                I always aim to be anywhere between about 100-180.
              </li>
              <li>
                I find if I check my CGM for an alert, it sometimes will not update me on the blood 
                sugar even if it gets worse. So try to look not long after the alert! Or, if you're 
                unlike myself, just don't turn off the alert...
              </Li>
            </ul>
          </div>
        </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      // Retrieve data1 from EJS template
      let myData = <%- JSON.stringify(data1) %>;
      
      console.log(myData);
  
      const ctx = document.getElementById('myChart').getContext('2d');
  
      const myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: myData.map((_, index) => `${Math.floor(index/12)}:00`),
              datasets: [{
                  label: 'Blood Sugar (CGM) over the last 24 hours',
                  data: myData,
                  fill: false,
                  backgroundColor: 'rgba(54, 162, 235, 0.2)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                          max: 400,
                      }
                  }]
              }
          }
      });
  </script>
</body>
</html>
