<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="mainbody">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <img src="/photos/diabeazy.png" alt="Logo" class="logo">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="tips.html">Tips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://diabeazy.uk.r.appspot.com/auth/dexcom/callback">Data Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="story.html">My Story</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </header>
        <main class="container mt-5">
          <div class="row">
            <div class="col-md-4">
              <section>
                <div class="container2">
                  <h1>Story</h1>
                </div>
                <div class="container1">
                  <p>
                    My story begins back in 2003 when I was diagnosed with Type 1 Diabetes at the ripe age of 
                    15 months old. My parents found out because I was peeing and drinking a lot. They took
                    great care of me. Would trade nights with each other to make sure I was doing okay. I am 
                    super grateful for that. One of my earliest diabetes memories is funny looking back on it
                    now, and that is when I was getting my pumpsite inserted on my buttcheek. I just remember 
                    squirming because I was not happy about it. 
                  </p>
                </div>
                <div class="container1">
                  <p>
                  Fast forward a bit of time into elementary school. I received a para to assist me with my
                  diabetes. Her name was Mrs. LaCombe. I only have great memories of her. She was super kind
                  and so helpful with my diabetes at that age. At this stage of my diabetes, every kid was 
                  was asking what it was and that never bothered me much. I quickly learned that I could use 
                  it to my advantage. I would get to eat snacks or leave things I didn't want to do. As a kid 
                  I never associated diabetes with anything bad. 
                  </p>
                </div>
                <div class="container1">
                  <p>
                  I used to go on Junior Diabetes Research Foundation (JDRF) walks with my family. Those were
                  always a blast. Family, friends, and even some of my father's coworkers would come out to 
                  support me and the cause. Another thing I am super grateful to have had with such wonderful 
                  support. Some of them even took place at Six Flags. I was somewhat scared of roller coasters,
                  but I still enjoyed that day each year very much.
                  </p>
                </div>
                <div class="container1">
                  <p>
                  The diabetes never stopped me from doing what I wanted. I played soccer, basketball, or really
                  anything outside that I could've as a kid. I would know right away when my blood sugar was low
                  and would have to pause to treat it, but it never stopped me. 
                  </p>
                </div>
                <div class="container1">
                  <p>
                  All of this was in the time without a CGM, so I had so many little finger prick holes on my 
                  fingers. When the CGM first was available to me, that was pretty game changing. That made 
                  keeping my blood sugars stable much easier.
                  </p>
                </div>
                <div class="container1">
                  <p>
                  For the more interesting side of things, here is how my doctors and I have laughed but disagreed
                  based off of how I take care of myself. When I correct my high blood sugars, I just enter carbs 
                  because it is fastest. They want me to enter the blood sugar but my correct ratios have been off 
                  for years since I never use them. But my A1C and blood sugars are always great so they don't want 
                  me to change what I am doing.
                  </p> 
                </div>
                <div class="container1">
                  <p>
                  To jump ahead to now, I am a young adult, and I am excited for the future and hopeful to help those 
                  struggling with their diabetes!
                </p>
                </div>
              </section>
              </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <section>
                <div class="container1">
                  <h1>Photos from brief diabetes journey</h1>
                </div>
                <div class="container2">
                  <h3>This is me giving a speech at a JDRF event</h3>
                  <img class="storyImg" src="/photos/speech.jpeg" alt="Me giving speech" class="photo">
                </div>
                <div class="container2">
                  <h3>This is me and my mother at a JDRF walk</h3>
                  <img class="storyImg" src="/photos/jackAndMom.jpeg" alt="Photo 2" class="photo">
                </div>
                <div class="container2">
                  <h3>Me and my friends from college</h3>
                  <img class="storyImg" src="/photos/friends.jpeg" alt="Photo 3" class="photo">
                </div>
                <div class="container2">
                  <h3>Me and my cousin at a JDRF walk</h3>
                  <img class="storyImg" src="/photos/grave.jpeg" alt="Photo 4" class="photo">
                </div>
                <div class="container2">
                  <h3>My family for a JDRF walk</h3>
                  <img class="storyImg" src="/photos/family1.jpeg" alt="Photo 5" class="photo">
                </div>
              </section>
            </div>
          </div>
        </main>
        <footer>
            <p>&copy; 2024 My Website</p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </body>
</html>