<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tips Page</title>
        <link rel="stylesheet" href="/public/stylesheets/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
  <body class="mainbody">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img src="/public/photos/diabeazy.png" alt="Logo" class="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="tips.html">Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://diabeazy.uk.r.appspot.com/auth/dexcom/callback">Data Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="story.html">My Story</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <section>
            <div class="container0">
            <h1>Is Jack a trustworthy source?</h1>
              <p>
                I have lived with diabetes since I was 15 months old, and feel that I have the expertise
                to share tips. These are things I have
                done to keep a steady A1C in the 6-7 range as a Type 1 Diabetic. I prioritize my
                health, but I also want to make sure I spend as little time as possible treating myself.
                I currently use a T-Slim insulin pump paired with a Dexcom G6 Continuous Glucose Monitor.
              </p>  
            </div>
          </section>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <section>
                <div class="container1">
                    <h1>Health Tips</h1>
                </div>
                <div class="container1">
                  <h3>Mental Health</h3>
                  <p>
                    I can say that with having diabetes my entire life, I have never felt insecure because
                    of my diabetes. But, I know from hearing from others that sometimes that is not the case.
                    To start, I can say I have been made fun of for my diabetes. On rare occasions it has happened,
                    but so much more than the negativity I have received for it, I have received so much love, and 
                    part of that is because of how I carry myself living with diabetes. Let me suggest these few 
                    things for the mental side of things
                  </p>
                  <ul>
                    <li>
                      Joke about your diabetes. From a young age I would joke about it myself with my friends.
                      Acknowledging it sucks is a huge help, but joking about it seems to really help me. It can 
                      be pretty great to have a good laugh with your friends or family about it. Also joking about 
                      it makes it less of a vulnerability for yourself, because if you're able to laugh about it, 
                      you're less likely to be made fun of for it.
                    </li>
                    <li>
                      Use it to your advantage. As a child, I would use my diabetes as an excuse to get out of class,
                      or out of things I didn't want to do. I can't say this excuse is morally correct, but, I feel 
                      as if I have the right to use it as an excuse. I could also eat candy or snacks in class when other
                      kids couldn't, and that felt like a reward to me. And on top of that, using it to your advantage 
                      helps to develop a positive mindset related to diabetes, which greatly helped me because I really
                      don't have negative association with my diabetes.
                    </li>
                    <li>
                      Realize it could be worse. I remind myself so much I could have it far worse. I have to take a few 
                      minutes out of my day to treat myself. Maybe on average 5-20 minutes a day. It truly is not that 
                      big of a deal, and many people have it far worse with other diseases or life situations. All things 
                      considered, diabetes is not the hardest thing to treat / live with.
                    </li>
                  </ul>
                </div>
                <div class="container1">
                  <h3>Physical Health</h3>
                  <ul>
                    <li>
                      Get outside! This works for me best best I love nature, I enjoy being outdoors, and I love 
                      to play sports. I like fishing, hiking, football, soccer, basketball, or really anything outside.
                      This keeps you in shape, is a great way to keep your blood sugar down. Also ties into the mental
                      health side because being outside is proven to raise your mood!
                    </li>
                    <li>
                      Go to the gym. This is just a simple way to stay physically active, it helps with your metabolism,
                      and also is helpful to me in the sense of keeping my blood sugar lower due to the physical activity.
                    </li>
                    <li>
                      Eating healthy or just a consistent list of food. Eating healthy allows for a more consistent blood sugar, and 
                      it doesn't spike your blood sugar like sweets or junk food can. Or, if you do eat sweets, eat them in a 
                      consistent manner. The junk food I enjoy, I have a mental note of how much insulin I need so I can make supe
                      my blood sugar doesn't spike. I hate feeling high, and I also hate having my blood sugar alarms go off. So I
                      must emphasize this advice. 

                    </li>
                  </ul>
                </div>
              </section>
          </div>
          <div class="col-md-6">
            <section>
              <div class="container2">
                <h1>Dosing and Treating Tips</h1>
                  <p>Keep in mind, this is based off of the T-Slim pump and Dexcom working together
                    for my results. Also, my doctors have mixed feelings about these tips, but, they
                  work and the results show it. So ultimately, my doctors tell me to keep doing what
                  I am doing.
                  </p>
              </div>
              <div class="container2">
                <h3>Insulin Dosage</h3>
                  <ul>
                    <li>Instead of counting my carbs for every meal I eat, I keep track in my mind
                      roughly how many units of insulin I would need for that meal. Given, this has taken
                      effort to keep a mental note of the estimate of insulin I need for a meal, but in the
                      long run it saves me time. With todays technology of the Dexcom and T-Slim working together,
                      the doses don't have to be perfect, the pump does a great job adjusting for these estimations 
                      not being perfect. I find this tip very helpful because it can be so annoying to carb count,
                      and I have little desire to put that much effort into my diabetes. Also, make sure you dose 
                      before the meal, not during or after! I have found this saves me from so many high blood sugars! 
                    </li>
                  </ul>
              </div>
              <div class="container2">
                  <ul>
                    <li>
                      Secondly, for high blood sugar corrections, I find it is super helpful to have an understanding 
                      in your mind how much insulin is needed when your blood sugar is high. Call me crazy, but I will
                      emphasize that I want to spend as little time as possible treating my diabetes. Instead of entering
                      my blood sugar into the pump and letting it calculate the dose, I have a mental note of how much 
                      insulin would be needed to bring my blood sugar down to a normal range. Is this dumb? Maybe, but in 
                      the grand scheme of things, it saves me a few seconds and some mental effort for each correction,
                      and that brings me peace of mind and makes my diabetes easier to manage. Along with that, it works
                      consistently. If you know the dosage, I say why not take the short cut to giving yourself this insulin!
                    </li>
                  </ul>
              </div>
              <div class="container2">
                <h3>Low Blood Sugar Treatments</h3>
                <ul>
                  <li>
                    I cannot act like I haven't fallen victim to this before, but please, do not over treat your lows. 
                    Being low, then taking in a lot of carbs and or sugar, which then sends you high, is not a fun roller
                    coaster to be on. No matter how low you feel, make sure you treat your low with the amount suggested 
                    by your doctor. I think the standard is around 15 grams of carbs, so please do this. It will save you 
                    so much time in the long run. 
                  </li>
                  <li>
                    This one is a bit of a gamble, but also very interesting. I have discovered that for some of my less
                    severe lows, but the ones where I feel my heart start to beat faster, there is an interesting way I 
                    have been able to treat them. That way is by focusing on slowing my heart rate down. This is because
                    a slower heart rate requires less sugar to enter the stream, and it can make your blood sugar stablize/
                    raise again.
                  </li>
                </ul>
            </div>
            </section>
          </div>
      </div>
  </main>

  <!-- Footer -->
<footer class="footer">
  <div class="container">
    <!-- Back to top button -->
    <button onclick="backToTop()" id="backToTopBtn" title="Go to top">Back to Top</button>
  </div>
</footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your custom script -->
    <script src="script.js"></script>
    
</body>
</html>